<div class="about">
  <h3>About FeedForward.io</h3>
  <p>Our goal is to link to <b>only</b> the most interesting articles that we come across. They should inspire you, challenge you, and encourage you.<p>
</div>

<div>
  <strong>Have an article to submit? Want to join us?</strong>
  <br/>
  <%= link_to "Start Sharing With Us", new_user_registration_path, class: "btn btn-primary btn-large btn-min-width" %>
</div>

<hr />

<div>
  <strong>We want every article to create discussions.</strong>
  <p><%= link_to "http://feeds.feedburner.com/FeedForwardio", class: "btn btn-large btn-min-width" do %>Subscribe to the RSS Feed <i class="icon-rss"></i><% end %></p>
  <p><%= link_to podcasts_path, class: "btn btn-large btn-min-width" do %>Listen to the Podcast <i class="icon-headphones"></i><% end %></p>
</div>
